body {
	background-color: #4E5166;
}
/* Background photo */
header, .navbar {
	position: relative;
	background-color: white;
	margin: 0 auto;
	width: 1000px;
	background-size: cover;	
	text-align: center;
}
/* Menu items *//*
.navbar a {
	color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}*/
.navbar a:link {
	color: white;
	text-decoration: none;
}
.navbar a:visited {
	color: white;
	text-decoration: none;
}
/* Menu links */
.nav.navbar-nav a:hover {
	color: black;
	text-decoration: : none;
	background-color: grey;
}
.nav.navbar-nav a:active {
	color: blue;
}
/* Menu */
.navbar {
	font-weight: bold;
  	text-align: right;
	background: #7C90A0;
}
/* Spacing for menu items */
.nav.navbar-nav > li {
	padding-left:45px;
  	padding-right:45px;
}
.dropdown-menu {
	background-color: #7C90A0;
	color: red;
}
#propic {
	position: absolute; /*Sets image in front of text*/
	z-index: 10;
	width: 175px;
	top: 130px;
	left: 20px;
    border: 5px solid #B5AA9D;
    border-radius: 0px;
    background-color: white;
}
.dropdown-menu a:hover {
	color: black;
}
/* Shih-Hsuan Huang */
header h1 {
	position: absolute;
	top: 260px;
	padding: 0px 0px 0px 220px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
/* --------------------------MAIN/CONTACT/PORTFOLIO-------------------------- */
#footer_main, #footer_contact, #footer_portfolio {
	background-color: white;
	padding: 60px 0px 0px 0px;
	margin: 0px auto;
	width: 1000px;
}
/* --------------------------MAIN-------------------------- */
#footer_main {
	background-color: white;
	padding: 30px 0px 10px 0px;
	margin: 0px auto;
	width: 1000px;
}
#footer_main p {
	margin: 0px;
	background-color: white;
	padding: 0px 40px 0px;
}
/*#footer_main p:hover {
	color: red;
}*/
#footer_main h1 {
	padding: 0px 40px 0px;
}
#footer_main h2 {
	font-size: 1.5em;
}
#footer_main ol {
	margin-left: 50px;
	padding-top: 10px;
}
/* --------------------------CONTACT-------------------------- */
#footer_contact {
	background-color: white;
	padding: 30px 0px 10px 0px;
	margin: 0px auto;
	width: 1000px;
}
#footer_contact h1 {
	margin: 20px 40px 20px;
}
#footer_contact table {
	margin: 20px 40px 20px;
}
#footer_contact p {
	top: 100px;
	margin: 0px;
	background-color: white;
	padding: 0px 40px 0px;
}
/*#footer_contact p:hover {
	color: red;
}*/
#table_contact table, td, th {
	padding: 5px;
	border: 1px solid gray;
}
/* --------------------------PORTFOLIO-------------------------- */
#footer_portfolio p {
	margin: 0px;
	background-color: white;
	padding: 0px 40px 30px;
}
/*#footer_portfolio p:hover {
	color: red;
}*/
#footer_portfolio h1,h2 {
	padding: 0px 40px 0px;
}
.drawing {
	height: 15em;
	text-align: center;
	margin-bottom: 1em;
	padding-left: 33px;
}

.gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}